<h1>All Boards</h1>
{{#each results}}
  <div>
    <div class="each-board">
      <form action="/boards/clear/{{this._id}}" method="post">
        <button type="submit">Clear board</button>
      </form>
      <p>Board: {{this.title}}</p>
      <div>
        {{this.posts.0.comment}}
      </div>
      <a href="/boards/{{this._id}}">Open</a>
      <hr />
    </div>

  </div>
{{/each}}