<h1>All Boards</h1>
{{#each results}}
  <div>
    <p>Board: {{this.title}}</p>
    {{!-- {{#each this.posts}}<p>Posts:{{this.comment}}</p>{{/each}} --}}
    {{this.posts.0.comment}}
    <a href="/boards/{{this._id}}">Open</a>
  </div>
{{/each}}